<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Planner - Use Pantry Items</title>
</head>
<body>
    <header>
        <h1>Pantry Planner - Use Pantry Items</h1>
        <a href="../use_pantry_items"><b>Use Pantry Items</b></a><br>
        <a href="../find_forgotten_recipe"><b>Find Forgotten Recipe</b></a>
    </header>
    <h3>Enter an ingredient name</h3>
    <form method="post" action="/search">
        {% csrf_token %}
        <input type="text" name="textfield">
        <button type="submit">Search</button>
    </form>
</body>
</html>